# Tutorial [Basic]

The goal of the package is to allow a quick and flexible way of constructing a table representing an accelerator lattice. This table should be used as input in the package latticeadaptor for generating accelerator lattice files in various formats and apply more advanced edits if necessary.

In [1]:
from latticeconstructor.core import LatticeBuilderLine

## Example 1: FODO

In [2]:
lblfodo = LatticeBuilderLine()

# Element definitions
lblfodo.add_def(
        {
            "QF": {"family" : "KQUAD", "L": 0.342, "K1":  0.4900, "N_KICKS": 16},
            "QD": {"family" : "KQUAD", "L": 0.668, "K1": -0.4999, "N_KICKS": 16},
            "D":  {"family" : "DRIF" , "L": 3.5805},
            "W1": {"family" : "WATCH", "L": 0, "filename":"\"%s-%03ld.w1\"","mode": "coordinates"}
        }
)

# add elements in order
lblfodo.add_element(["W1","QF","D","QD","D","QF"])

# show lattice table
lblfodo.table

,family,L,filename,mode,name,K1,N_KICKS,pos
0,MARKER,0.0000,"""%s-%03ld.w1""",coordinates,W1,NaN,NaN,0.00000
1,QUADRUPOLE,0.3420,NaN,NaN,QF,0.4900,16.0,0.17100
2,DRIFT,3.5805,NaN,NaN,D,NaN,NaN,2.13225
3,QUADRUPOLE,0.6680,NaN,NaN,QD,-0.4999,16.0,4.25650
4,DRIFT,3.5805,NaN,NaN,D,NaN,NaN,6.38075
5,QUADRUPOLE,0.3420,NaN,NaN,QF,0.4900,16.0,8.34200

In [3]:
# check the defintions
lblfodo.definitions

{'QF': {'family': 'QUADRUPOLE',
  'L': 0.342,
  'K1': 0.49,
  'N_KICKS': 16,
  'name': 'QF'},
 'QD': {'family': 'QUADRUPOLE',
  'L': 0.668,
  'K1': -0.4999,
  'N_KICKS': 16,
  'name': 'QD'},
 'D': {'family': 'DRIFT', 'L': 3.5805, 'name': 'D'},
 'W1': {'family': 'MARKER',
  'L': 0,
  'filename': '"%s-%03ld.w1"',
  'mode': 'coordinates',
  'name': 'W1'}}

In [4]:
# check the lattice line definition (expanded)
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF']

## Example 2: Adding definitions and elements

Adding an element that is not defined will add it to the lattice but will not auto-update the table.

In [5]:
lblfodo.add_element("END")
lblfodo.lattice

Table not updated - not all elements defined.
{'END'}

['W1', 'QF', 'D', 'QD', 'D', 'QF', 'END']

In [6]:
lblfodo.table

,family,L,filename,mode,name,K1,N_KICKS,pos
0,MARKER,0.0000,"""%s-%03ld.w1""",coordinates,W1,NaN,NaN,0.00000
1,QUADRUPOLE,0.3420,NaN,NaN,QF,0.4900,16.0,0.17100
2,DRIFT,3.5805,NaN,NaN,D,NaN,NaN,2.13225
3,QUADRUPOLE,0.6680,NaN,NaN,QD,-0.4999,16.0,4.25650
4,DRIFT,3.5805,NaN,NaN,D,NaN,NaN,6.38075
5,QUADRUPOLE,0.3420,NaN,NaN,QF,0.4900,16.0,8.34200

To fix this, add the defintion and manually update the table.

In [7]:
# adding a marker
lblfodo.add_def({"END": {"family": "MARK", "L": 0.0 } })

# build table manually 
lblfodo.build_table()

In [8]:
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF', 'END']

In [9]:
# we highlight the change
lblfodo.table.style.apply(lambda x: ['background: lightgreen' if x.name in [6] else '' for i in x], axis=1)

## Example 3: Replacing elements

### Replace single element

In [10]:
lblfodo.replace_element('END','W1')

In [11]:
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF', 'W1']

In [12]:
# we again highlight the change
lblfodo.table.style.apply(lambda x: ['background: orange' if x.name in [6] else '' for i in x], axis=1)

In [13]:
# undo to keep the previous table
lblfodo.undo()

In [14]:
# check if undo worked
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF', 'END']

In [15]:
# check if undo worked
lblfodo.table.style.apply(lambda x: ['background: lightgreen' if x.name in [6] else '' for i in x], axis=1)

### Replace a series of elements

In [16]:
start_index = 5
stop_index  = 6
lblfodo.replace_list(start_index,stop_index,'QF')

In [17]:
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF']

In [18]:
lblfodo.table.style.apply(lambda x: ['background: orange' if x.name in [5] else '' for i in x], axis=1)

## Example 4: Inserting elements

### Insert element before index

In [19]:
lblfodo.insert_element_before("END",5)

In [20]:
lblfodo.table.style.apply(lambda x: ['background: orange' if x.name in [5] else '' for i in x], axis=1)

In [21]:
# undo to keep the table
lblfodo.undo()

### Insert element after index

In [22]:
lblfodo.insert_element_after("END",5)

In [23]:
lblfodo.table.style.apply(lambda x: ['background: orange' if x.name in [6] else '' for i in x], axis=1)

In [24]:
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF', 'END']

In [25]:
lblfodo.undo()
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF']

## Example 5: Removing elements

### Remove at index

In [26]:
lblfodo.remove_element(2)

In [27]:
lblfodo.lattice

['W1', 'QF', 'QD', 'D', 'QF']

In [28]:
lblfodo.undo()
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF']

### Remove between indices

In [29]:
lblfodo.remove_from_to(2,4)
lblfodo.lattice

['W1', 'QF', 'QF']

In [30]:
lblfodo.undo()
lblfodo.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF']

## Example 6: getting int index of elements

In [31]:
lblfodo.get_idx('QF')

[1, 5]

# Tutorial [advanced]

The more advanced tutorial shows how to read in definitions and lattice constructions from various standard formats and prepare them to be manipulated by the LatticeBuilderLine class.

## Elegant

In [32]:
# generate lte lattice file 
elements ={
    "QF": {"type" : "KQUAD", "L": 0.342, "K1":  0.4900, "N_KICKS": 16},
    "QD": {"type" : "KQUAD", "L": 0.668, "K1": -0.4999, "N_KICKS": 16},
    "D":  {"type" : "DRIF" , "L": 3.5805},
    "W1": {"type" : "WATCH", "filename":"\"%s-%03ld.w1\"","mode": "coordinates"}
}

FODOstr    = "! FODO cell used for studying TRIBs\n\n"
stringlist = ["{:6}: {}".format(k,", ".join(["{}={:15.12f}".format(kk,vv) 
                                             if not isinstance(vv,str)
                                             else "{}={}".format(kk,vv)
                                             if kk!="type" else "{}".format(vv) for kk,vv in v.items()])) 
              for k,v in elements.items()]
line     = ["W1","QF","D","QD","D","QF"]
linestr  = "{:6}: LINE=({})".format("FODO",",".join(line))
FODOstr += "\n".join(stringlist)
FODOstr += "\n\n"
FODOstr += linestr

print(FODOstr)

with open("FODO_TRIB.lte","w") as f:
    f.write(FODOstr)

! FODO cell used for studying TRIBs

QF    : KQUAD, L= 0.342000000000, K1= 0.490000000000, N_KICKS=16.000000000000
QD    : KQUAD, L= 0.668000000000, K1=-0.499900000000, N_KICKS=16.000000000000
D     : DRIF, L= 3.580500000000
W1    : WATCH, filename="%s-%03ld.w1", mode=coordinates

FODO  : LINE=(W1,QF,D,QD,D,QF)

In [33]:
lbllte = LatticeBuilderLine()
lbllte.load_lattice_from_file("FODO_TRIB.lte",ftype='lte')

In [34]:
lbllte.lattice

['W1', 'QF', 'D', 'QD', 'D', 'QF']

In [35]:
lbllte.load_definitions_from_file("FODO_TRIB.lte",ftype='lte')

In [36]:
lbllte.definitions

{'QF': {'name': 'QF',
  'family': 'QUADRUPOLE',
  'L': 0.342,
  'K1': 0.49,
  'N_KICKS': 16.0},
 'QD': {'name': 'QD',
  'family': 'QUADRUPOLE',
  'L': 0.668,
  'K1': -0.4999,
  'N_KICKS': 16.0},
 'D': {'name': 'D', 'family': 'DRIFT', 'L': 3.5805},
 'W1': {'name': 'W1', 'family': 'MARKER', 'L': 0.0}}

In [37]:
# the table needs to be updated manually
lbllte.table

In [38]:
lbllte.build_table()

In [39]:
lbllte.table

  name      family       L      K1  N_KICKS      pos
0   W1      MARKER  0.0000     NaN      NaN  0.00000
1   QF  QUADRUPOLE  0.3420  0.4900     16.0  0.17100
2    D       DRIFT  3.5805     NaN      NaN  2.13225
3   QD  QUADRUPOLE  0.6680 -0.4999     16.0  4.25650
4    D       DRIFT  3.5805     NaN      NaN  6.38075
5   QF  QUADRUPOLE  0.3420  0.4900     16.0  8.34200

## MADX - Sequence file

In [40]:
FODOseqstr = """
QF : QUADRUPOLE, L := 0.50 , K1 :=  1.00;
QD : QUADRUPOLE, L := 1.00 , K1 := -1.00;
D1 : DRIFT, L := 1.00;
D2 : DRIFT, L := 1.00;

FODO: SEQUENCE, L=4.00;
QF, at = 0.25;
D1, at = 1.00;
QD, at = 2.00;
D2, at = 3.00;
QF, at = 3.75;
ENDSEQUENCE;
"""

print(FODOseqstr)

with open("FODO_TRIB.seq","w") as f:
    f.write(FODOseqstr)

QF : QUADRUPOLE, L := 0.50 , K1 :=  1.00;
QD : QUADRUPOLE, L := 1.00 , K1 := -1.00;
D1 : DRIFT, L := 1.00;
D2 : DRIFT, L := 1.00;

FODO: SEQUENCE, L=4.00;
QF, at = 0.25;
D1, at = 1.00;
QD, at = 2.00;
D2, at = 3.00;
QF, at = 3.75;
ENDSEQUENCE;

In [41]:
lblseq = LatticeBuilderLine()
lblseq.load_lattice_from_file("FODO_TRIB.seq",ftype='madx-seq')
lblseq.lattice

['QF', 'D1', 'QD', 'D2', 'QF']

In [42]:
lblseq.load_definitions_from_file("FODO_TRIB.seq",ftype='madx-seq')
lblseq.definitions

{'QF': {'name': 'QF', 'family': 'QUADRUPOLE', 'L': 0.5, 'K1': 1.0},
 'QD': {'name': 'QD', 'family': 'QUADRUPOLE', 'L': 1.0, 'K1': -1.0},
 'D1': {'name': 'D1', 'family': 'DRIFT', 'L': 1.0},
 'D2': {'name': 'D2', 'family': 'DRIFT', 'L': 1.0}}

In [43]:
lblseq.build_table()
lblseq.table

  name      family    L   K1   pos
0   QF  QUADRUPOLE  0.5  1.0  0.25
1   D1       DRIFT  1.0  NaN  1.00
2   QD  QUADRUPOLE  1.0 -1.0  2.00
3   D2       DRIFT  1.0  NaN  3.00
4   QF  QUADRUPOLE  0.5  1.0  3.75

## MADX Line def

In [44]:
FODOlinestr = """
QF : QUADRUPOLE, L := 0.50 , K1 :=  1.00;
QD : QUADRUPOLE, L := 1.00 , K1 := -1.00;
D1 : DRIFT, L := 1.00;
D2 : DRIFT, L := 1.00;

FODO: LINE = (QF,D1,QD,D2,QF);
"""

print(FODOlinestr)

with open("FODO_TRIB.madx","w") as f:
    f.write(FODOlinestr)

QF : QUADRUPOLE, L := 0.50 , K1 :=  1.00;
QD : QUADRUPOLE, L := 1.00 , K1 := -1.00;
D1 : DRIFT, L := 1.00;
D2 : DRIFT, L := 1.00;

FODO: LINE = (QF,D1,QD,D2,QF);

In [45]:
lblmadx = LatticeBuilderLine()
lblmadx.load_lattice_from_file("FODO_TRIB.madx",ftype='madx-line')
lblmadx.lattice

['QF', 'D1', 'QD', 'D2', 'QF']

In [46]:
lblmadx.load_definitions_from_file("FODO_TRIB.madx",ftype='madx-line')
lblmadx.definitions

{'QF': {'name': 'QF', 'family': 'QUADRUPOLE', 'L': 0.5, 'K1': 1.0},
 'QD': {'name': 'QD', 'family': 'QUADRUPOLE', 'L': 1.0, 'K1': -1.0},
 'D1': {'name': 'D1', 'family': 'DRIFT', 'L': 1.0},
 'D2': {'name': 'D2', 'family': 'DRIFT', 'L': 1.0}}

In [47]:
lblmadx.build_table()
lblmadx.table

  name      family    L   K1   pos
0   QF  QUADRUPOLE  0.5  1.0  0.25
1   D1       DRIFT  1.0  NaN  1.00
2   QD  QUADRUPOLE  1.0 -1.0  2.00
3   D2       DRIFT  1.0  NaN  3.00
4   QF  QUADRUPOLE  0.5  1.0  3.75